$body-background-color: #fbfbfa;
$body-heading-color: #111111;
$body-text-color: #424242;
$link-color: #006adc;
$nav-child-link-color: #424242;
$sidebar-color: #f4f4f2;
$base-button-color: #f2f2ef;
$btn-primary-color: #111111;
$code-background-color: #f7f7f5;
$feedback-color: #efefec;
$table-background-color: #fbfbfa;
$search-background-color: #fbfbfa;
$search-result-preview-color: #5f6268;
$border-color: #e7e5df;

@import "./vendor/accessible-pygments/github-light";
